In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import seaborn as sns
import os.path
import ast

In [2]:
matplotlib.rcParams['figure.figsize'] = (12, 10)

## Introduction

## Data Exploration

In [5]:
data_file = 'data.csv'

if not os.path.exists(data_file):
    print('Cannot find data')

In [6]:
df = pd.read_csv('data.csv', sep=',', header=0)

In [7]:
df.head()

,source_file,lineno,ast_depth,num_test_cover,num_executed,num_assert_tm,num_assert_tc,mutant_operator_type,function_max_depth,function_avg_depth,class_max_depth,lineno_loc,loc_list,mutation_number,status
0,src/calculator.py,3,3,2,4,3,20,AOD,10,8.5,10,5,"['8:14', '16:17']",1,killed
1,src/calculator.py,3,4,2,4,3,20,AOR,10,8.5,10,5,"['8:14', '16:17']",2,killed
2,src/calculator.py,7,5,1,1,1,20,AOR,7,7.0,10,0,['20:21'],3,killed
3,src/calculator.py,7,5,1,1,1,20,AOR,7,7.0,10,0,['20:21'],4,killed
4,src/calculator.py,7,5,1,1,1,20,AOR,7,7.0,10,0,['20:21'],5,survived

In [ ]:
df

## Data Cleaning

In [ ]:
df.isnull().values.any()

In [ ]:
X = df.drop(labels=['status','mutation_number', 'loc_list'], axis=1)
y = df[['status']]
use_for_semantic_analysi

In [ ]:
X[0:5]

In [ ]:
y[0:5]